.navBarContainer{
    display: flex;
    background-color: black;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.navBarContainer img {
    max-height: 30px;
    padding-left: 20px;
    float: left;
}   

.navBarBtn button {
    font-size: medium;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    cursor: pointer;
}

.navBarBtn button:hover {
    background-color: whitesmoke;
}